*.egg-info
*.pyc
*.patch
build/
dist/
doc/_build
examples
.ropeproject/
*.sublime-project
*.sublime-workspace
nosetests*.xml
.DS_Store
.coverage
.project
.settings
.pydevproject
.tox/
.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
*.iml
.idea/vcs.xml
.idea/workspace.xml
