sudo: required
dist: trusty
language: python

python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"

services:
  - couchdb
  - riak
  - cassandra

addons:
  apt:
    packages:
      - libproj0
      - libgeos-dev
      - libgdal-dev
      - libgdal1h
      - libxslt1-dev
      - libxml2-dev
      - build-essential
      - python-dev
      - libjpeg-dev
      - zlib1g-dev
      - libfreetype6-dev
      - protobuf-compiler
      - libprotoc-dev
      - cython
      - cython3

env:
  - CASSANDRA_SERVER='localhost'

cache:
  directories:
    - $HOME/.cache/pip

install:
    # riak packages are not compatible with Python 3
    - "if [[ $TRAVIS_PYTHON_VERSION = '2.7' ]]; then pip install --use-mirrors protobuf>=2.4.1 riak==2.2 riak_pb>=2.0; export MAPPROXY_TEST_COUCHDB=http://127.0.0.1:5984; export MAPPROXY_TEST_RIAK_PBC=pbc://localhost:8087; fi"
    - "pip install -r requirements-tests.txt"

script: nosetests mapproxy
