include setup.py
include setup.cfg
include README.rst
include LICENSE.txt
include CHANGES.txt
include COPYING.txt
include requirements-tests.txt

include doc/GM.txt
include doc/*.yaml
include doc/yaml/*.yaml
include doc/Makefile
include doc/*.rst
include doc/conf.py
include doc/imgs/*.png
include doc/_static/*.png
include doc/_static/*.css
include doc/_templates/*.html

recursive-include mapproxy/config_template *.ini *.wsgi *.yaml
recursive-include mapproxy/image/fonts *.ttf LICENSE
recursive-include mapproxy/service/templates *.css *.cfg *.gif *.png *.xml *.html *.js
recursive-include mapproxy/test/schemas *.xml *.xsd *.dtd *.wsdl *.txt
recursive-include mapproxy/test/system/fixture *.yaml *.mbtiles *.geojson *.xml *.jpeg *.png *.py
recursive-include mapproxy/test/unit epsg *.dbf *.shp *.shx
recursive-include mapproxy/util/ext/wmsparse/test *.xml