include setup.py
include setup.cfg
include README.rst
include LICENSE.txt
include CHANGES.txt
include COPYING.txt

recursive-include mapproxy *
recursive-exclude mapproxy *.pyc *.class *.pyd .DS_Store *.rej *.orig *.lck .empty
