azure-storage-blob>=12.9.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Pillow==10.1.0
PyYAML==6.0.1
WebOb==1.8.7
Shapely==2.0.1
WebTest==3.0.0
attrs==19.3.0;python_version<"3.10"
attrs==23.1.0;python_version>="3.10"
aws-sam-translator==1.82.0
aws-xray-sdk==2.12.1
beautifulsoup4==4.12.2
boto3==1.34.4
boto==2.49.0
botocore==1.34.5
certifi==2023.11.17
cffi==1.16.0;
cfn-lint==0.80.3
chardet==5.2.0
cryptography==41.0.6
decorator==4.4.2
docker==7.0.0
docutils==0.20.1
ecdsa==0.18.0
future==0.18.3
idna==2.9
importlib-metadata==7.0.0
iniconfig==2.0.0
jmespath==1.0.1
jsondiff==1.3.1
jsonpatch==1.33
jsonpickle==3.0.2
jsonpointer==2.4
jsonschema==3.2.0
junit-xml==1.9
lxml==4.9.4
mock==5.1.0
more-itertools==10.1.0
moto==4.2.12
networkx==3.1
numpy==1.26.0;python_version>="3.9"
numpy==1.24.0;python_version=="3.8"
packaging==23.2
pluggy==0.13.1
py==1.11.0
pyasn1==0.5.1
pycparser==2.21
pyparsing==3.1.1
pyproj==2.6.1.post1;python_version=="3.8"
pyproj==3.6.1;python_version>"3.8"
pyrsistent==0.20.0
pytest==7.4.3
pytest-rerunfailures==13.0
python-dateutil==2.8.2
python-jose==3.3.0
pytz==2023.3.post1
redis==5.0.1
requests==2.31.0
responses==0.24.1
riak==2.7.0
rsa==4.9
s3transfer==0.9.0
six==1.16.0
soupsieve==2.0.1
sshpubkeys==3.3.1
toml==0.10.2
urllib3==1.26.18
waitress==2.1.2
websocket-client==1.7.0
werkzeug==1.0.1
wrapt==1.16.0
xmltodict==0.13.0
zipp==3.17.0
