attrs==19.3.0;python_version<"3.10"
attrs==23.2.0;python_version>="3.10"
aws-sam-translator==1.91.0
aws-xray-sdk==2.12.1
azure-storage-blob>=12.9.0
beautifulsoup4==4.12.3
boto3==1.40.55
botocore==1.40.55
certifi==2025.4.26
cffi==2.0.0;
cfn-lint==0.80.3
chardet==5.2.0
coverage==7.11.3;python_version>="3.10"
cryptography==44.0.2
decorator==5.2.1
docker==7.1.0
docutils==0.20.1;python_version<"3.9"
docutils==0.21.2;python_version>="3.9"
ecdsa==0.18.0
flake8==7.0.0
flake8-toml-config==1.0.0
idna==2.9
iniconfig==2.0.0
Jinja2==2.11.3
jmespath==1.0.1
jsondiff==1.3.1
jsonpatch==1.33
jsonpickle==4.1.1
jsonpointer==2.4
jsonschema==4.17;python_version<"3.10"
jsonschema==4.20;python_version>="3.10"
junit-xml==1.9
lxml==6.0.2
lxml-stubs==0.5.1
MarkupSafe==1.1.1
mock==5.1.0
more-itertools==10.1.0
moto==5.0.13
mypy==1.18.2
networkx==3.1;python_version<"3.10"
networkx==3.4.2;python_version>="3.10"
numpy==1.26.4
packaging==24.2
Pillow==11.3.0 # This version is overwritten in the test workflow, please adjust there as well
pluggy==1.6.0
py==1.11.0
pyasn1==0.6.1
pycparser==2.22
pyparsing==3.2.3
pyproj==3.6.1;python_version<"3.10"
pyproj==3.7.1;python_version>="3.10"
pyrsistent==0.20.0
pytest-rerunfailures==16.0.1
pytest==8.3.2
python-dateutil==2.9.0.post0
python-jose==3.5.0
pytz==2024.2
redis==5.0.1
requests==2.32.5
responses==0.25.8
rsa==4.9.1
Shapely==2.0.1;python_version<"3.10"
Shapely==2.1.0;python_version>="3.10"
soupsieve==2.8
sshpubkeys==3.3.1
toml==0.10.2
types-PyYAML==6.0.12
types-requests==2.32.4.20250913;python_version>="3.10"
types-shapely==2.1.0.20250917
types-jsonschema==4.25.1.20251009
types-python-dateutil==2.9.0.20251008
types-pytz==2025.2.0.20250809
urllib3==1.26.0;python_version<"3.10"
urllib3==2.5.0;python_version>="3.10"
waitress==2.1.2;python_version<"3.10"
waitress==3.0.2;python_version>="3.10"
WebOb==1.8.9
websocket-client==1.8.0
WebTest==3.0.0
wrapt==1.17.2
xmltodict==0.13.0
zipp==3.23.0
