azure-storage-blob>=12.9.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Pillow==10.3.0
WebOb==1.8.8
Shapely==2.0.1
WebTest==3.0.0
attrs==19.3.0;python_version<"3.10"
attrs==23.2.0;python_version>="3.10"
aws-sam-translator==1.91.0
aws-xray-sdk==2.12.1
beautifulsoup4==4.12.2
boto3==1.35.6
boto==2.49.0
botocore==1.35.6
certifi==2024.7.4
cffi==1.16.0;
cfn-lint==0.80.3
chardet==5.2.0
cryptography==43.0.1
decorator==5.1.1
docker==7.0.0
docutils==0.20.1;python_version<"3.9"
docutils==0.21.2;python_version>="3.9"
ecdsa==0.18.0
flake8==7.0.0
idna==2.9
iniconfig==2.0.0
jmespath==1.0.1
jsondiff==1.3.1
jsonpatch==1.33
jsonpickle==3.0.2
jsonpointer==2.4
jsonschema==4.17;python_version<"3.10"
jsonschema==4.20;python_version>="3.10"
junit-xml==1.9
lxml==5.3.0
mock==5.1.0
more-itertools==10.1.0
moto==5.0.13
networkx==3.1;python_version<"3.10"
networkx==3.4.2;python_version>="3.10"
numpy==1.26.0;python_version>="3.9"
numpy==1.24.0;python_version=="3.8"
packaging==24.2
pluggy==1.5.0
py==1.11.0
pyasn1==0.5.1
pycparser==2.22
pyparsing==3.1.1
pyproj==2.6.1.post1;python_version=="3.8"
pyproj==3.6.1;python_version>"3.8"
pyrsistent==0.20.0
pytest==8.3.2
pytest-rerunfailures==13.0
python-dateutil==2.8.2
python-jose==3.3.0
pytz==2023.3.post1
redis==5.0.1
requests==2.32.3
responses==0.25.3
riak==2.7.0
rsa==4.9
s3transfer==0.10.2
six==1.16.0
soupsieve==2.6
sshpubkeys==3.3.1
toml==0.10.2
urllib3==1.26.19
waitress==2.1.2;python_version<"3.10"
waitress==3.0.1;python_version>="3.10"
websocket-client==1.8.0
wrapt==1.16.0
xmltodict==0.13.0
zipp==3.20.1
