name: Docker Build and Publish

permissions:
  packages: write

on:
  push:
    tags:
      - "*.*.*"
jobs:
  get-version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ fromJSON(steps.meta.outputs.json).tags[0] }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          flavor: |
            latest=false
          images: |
            ghcr.io/${{ github.repository }}/mapproxy
          tags: |
            type=semver,pattern={{version}}

  build-and-publish-ubuntu:
    needs: get-version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push base image
        uses: docker/build-push-action@v6
        with:
          file: ./Dockerfile
          push: true
          target: base
          tags: ${{ needs.get-version.outputs.version }}
          platforms: linux/amd64,linux/arm64

      - name: Build and push development image
        uses: docker/build-push-action@v6
        with:
          file: ./Dockerfile
          push: true
          target: development
          tags: ${{ needs.get-version.outputs.version }}-dev
          platforms: linux/amd64,linux/arm64

      - name: Build and push nginx image
        uses: docker/build-push-action@v6
        with:
          file: ./Dockerfile
          push: true
          target: nginx
          tags: ${{ needs.get-version.outputs.version }}-nginx
          platforms: linux/amd64,linux/arm64

  build-and-publish-alpine:
    needs: get-version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push base alpine image
        uses: docker/build-push-action@v6
        with:
          file: ./Dockerfile-alpine
          push: true
          target: base
          tags: ${{ needs.get-version.outputs.version }}-alpine
          platforms: linux/amd64,linux/arm64

      - name: Build and push alpine development image
        uses: docker/build-push-action@v6
        with:
          file: ./Dockerfile-alpine
          push: true
          target: development
          tags: ${{ needs.get-version.outputs.version }}-alpine-dev
          platforms: linux/amd64,linux/arm64

      - name: Build and push alpine based nginx image
        uses: docker/build-push-action@v6
        with:
          file: ./Dockerfile-alpine
          push: true
          target: nginx
          tags: ${{ needs.get-version.outputs.version }}-alpine-nginx
          platforms: linux/amd64,linux/arm64

  run-trivy:
    needs:
      - get-version
      - build-and-publish-ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Run trivy
        uses: aquasecurity/trivy-action@0.29.0
        with:
          format: 'sarif'
          ignore-unfixed: true
          image-ref: ${{ needs.get-version.outputs.version }}
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH'
          vuln-type: 'os,library'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-results.sarif'
