name: Build and deploy documentation on github pages

on:
  push:
    tags:
      - "*.*.*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout sources
      uses: actions/checkout@v4

    - name: Install dependencies â¬
      run: pip install sphinx sphinx-book-theme sphinx-copybutton

    - name: Run documentation build
      run: sphinx-build doc/ docs -D html_context.current_version=${{ github.ref_name }}

    - name: Deploy docs to folder `latest` to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@v4.7.2
      with:
        folder: docs
        target-folder: docs/latest

    - name: Deploy docs to a folder named after the new tag to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@v4.7.2
      with:
        folder: docs
        target-folder: docs/${{ github.ref_name }}

    - name: Update versions config
      # read existing versions from gh-pages branch, add new version, sort, dedupe and write results to config/versions.json
      run: |
        mkdir config
        git show gh-pages:docs/config/versions.json \
        | jq -r '(. + ["${{ github.ref_name }}"])[]' \
        | sort -V \
        | uniq \
        | jq -R -s -c 'split("\n")[:-1]' \
        > config/versions.json

    - name: Deploy config folder to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@v4.7.2
      with:
        folder: config
        target-folder: docs/config
